<section class="education">
    <span class="section-subtitle">Qualification</span>
    <h2 class="section-title">Experience and gained knowledge</h2>

    <div class="education__container bd-grid">
        <div class="education__content">
            <div>
                <h3 class="education__year">2005 - 2009</h3>
                <span class="education__university">AEbt Angewandte Eisenbahntechnik GmbH, Nuremberg</span>
            </div>

            <div class="education__time">
                <span class="education__rounder"></span>
                <span class="education__line"></span>
            </div>

            <div>
                <h3 class="education__race">Informatics</h3>
                <span class="education__specialty">Software-Validation and -testing according to EN-Norms to support approvals</span>
            </div>
        </div>

        <div class="education__content">
            <div>
                <h3 class="education__year">2010 - 2012</h3>
                <span class="education__university">Vogler Engineering GmbH, Hof</span>
            </div>

            <div class="education__time">
                <span class="education__rounder"></span>
                <span class="education__line"></span>
            </div>

            <div>
                <h3 class="education__race">Student employee</h3>
                <span class="education__specialty">Software development  for automation systems in C#, WPF, HTML5 and JavaScript</span>
            </div>
        </div>

        <div class="education__content">
            <div>
                <h3 class="education__year">2012 - 2013</h3>
                <span class="education__university">Fraunhofer IIS, Erlangen</span>
            </div>

            <div class="education__time">
                <span class="education__rounder"></span>
                <span class="education__line"></span>
            </div>

            <div>
                <h3 class="education__race">Project- and Bachelorthesis</h3>
                <span class="education__specialty">Facerecognition with SHORE: Optimizing human age estimation (Lua, Python)</span>
            </div>
        </div>

        <div class="education__content">
            <div>
                <h3 class="education__year">2013 - 2017</h3>
                <span class="education__university">Kratzer Automation AG, Unterschlei&szlig;heim</span>
            </div>

            <div class="education__time">
                <span class="education__rounder"></span>
                <span class="education__line"></span>
            </div>

            <div>
                <h3 class="education__race">Fullstack Developer</h3>
                <span class="education__specialty">Web-Apps in C#, ASP.Net, DevExpress, GoJS, E2E Tests with Selenium, SVN, CI/CD with Jenkins, Customer projects for testXplorer-Suite</span>
            </div>
        </div>

        <div class="education__content">
            <div>
                <h3 class="education__year">2017 - 2018</h3>
                <span class="education__university">AVL Deutschland GmbH, Munich</span>
            </div>

            <div class="education__time">
                <span class="education__rounder"></span>
                <span class="education__line"></span>
            </div>

            <div>
                <h3 class="education__race">Fullstack Developer</h3>
                <span class="education__specialty">Web-Apps in C#, Cluu, Angular; New product project "Lab Manager"</span>
            </div>
        </div>

        <div class="education__content">
            <div>
                <h3 class="education__year">2018 - 2022</h3>
                <span class="education__university">InLoox GmbH</span>
            </div>

            <div class="education__time">
                <span class="education__rounder"></span>
                <span class="education__line"></span>
            </div>

            <div>
                <h3 class="education__race">Fullstack Developer</h3>
                <span class="education__specialty">Web-Apps in C#, ASP.Net, Angular, Cypress, DevExpress, E2E Tests with Selenium / Appium, Git, DevOps, Azure, Customer Support</span>
            </div>
        </div>

        <div class="education__content">
            <div>
                <h3 class="education__year">2023</h3>
                <span class="education__university">comspace GmbH & Co. KG</span>
            </div>

            <div class="education__time">
                <span class="education__rounder"></span>
                <span class="education__line"></span>
            </div>

            <div>
                <h3 class="education__race">Frontend Developer</h3>
                <span class="education__specialty">Web-Apps in Nuxt.js, JavaScript, Storyblok</span>
            </div>
        </div>

        <div class="education__content">
            <div>
                <h3 class="education__year">2024</h3>
                <span class="education__university">ppedv AG Campus</span>
            </div>

            <div class="education__time">
                <span class="education__rounder"></span>
                <span class="education__line"></span>
            </div>

            <div>
                <h3 class="education__race">IT-Trainer</h3>
                <span class="education__specialty">Angular, TypeScript, C#, .NET</span>
            </div>
        </div>
    </div>
</section>
