<footer class="footer">
    <div class="footer__container">
      <div class="copy small">Ortwin Carstocea &copy; 2024</div>
      <a href="https://github.com/ortwic" class="social-link"><i class='bx bxl-github' ></i></a>
      <a href="https://stackoverflow.com/users/2598771/ortwic" class="social-link"><i class='bx bxl-stack-overflow' ></i></a>
      <a href="https://vimeo.com/ortwin" class="social-link"><i class='bx bxl-vimeo' ></i></a>
      <a href="https://www.youtube.com/c/OrtwinC" class="social-link"><i class='bx bxl-youtube' ></i></a>
      <a href="https://musescore.com/ortwin" class="social-link"><i class='bx bxs-music' ></i></a>
    </div>
</footer>