<nav class="navbar sticky-top" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#home">
      <h1 class="d-inline">Ortwin Carstocea</h1>
      <span>| Fullstack Developer</span>
    </a>
    <a class="navbar-toggler" href="#menu-content" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="menu-content">
      <span class="navbar-toggler-icon"></span>
    </a>
    <div id="menu-content" class="collapse navbar-collapse">
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="#about">
            <button class="btn" data-bs-target="#menu-content" data-bs-toggle="collapse" aria-expanded="false" aria-controls="menu-content">
              About
            </button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#works">
            <button class="btn" data-bs-target="#menu-content" data-bs-toggle="collapse" aria-expanded="false" aria-controls="menu-content">
              Early works
            </button> 
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">
            <button class="btn" data-bs-target="#menu-content" data-bs-toggle="collapse" aria-expanded="false" aria-controls="menu-content">
              Projects
            </button> 
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills">
            <button class="btn" data-bs-target="#menu-content" data-bs-toggle="collapse" aria-expanded="false" aria-controls="menu-content">
              Skills &amp; Interests
            </button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">
            <button class="btn" data-bs-target="#menu-content" data-bs-toggle="collapse" aria-expanded="false" aria-controls="menu-content">
              Collaboration
            </button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script lang="text/javascript">
  // const toolbar = document.getElementById("navbar");
  // let lastScrollTop = 0;

  // document.addEventListener("scroll", (event) => {
  //   const target = event.target;
  //   const top = target.scrollTop < lastScrollTop ? 0 
  //             : target.scrollTop < toolbar.offsetHeight 
  //             ? target.scrollTop : toolbar.offsetHeight
  //   toolbar.style.top = `${-top}px`;

  //   lastScrollTop = target.scrollTop > 0 ? target.scrollTop : 0;
  // });
</script>