<section class="section" id="projects">
    <span class="section-subtitle">Newer works and projects</span>
    <h2 class="section-title">Web projects and tooling</h2>

    <div class="bd-grid">
        <div class="row featurette">
            <div class="col-md-5 order-md-1">
            <img src="assets/images/accounting.jpg" alt="Accounting" title="Accounting">
            </div>
            <div class="col-md-7 order-md-2">
            <span class="section-subtitle">2020 - Custom tooling</span>
            <h3 class="section-title">Custom tool in C# for liquidity planning</h3>
            <p>
                Parsing PDF files and tagging contents by configured conditions. CSV can be imported with Power BI for further data evaluation.
            </p>
            <p>
                Everybody should be able to have an easy overview of their personal finances these days but with respect of privacy.
            </p>
            <p>
                You can check out the sources on <a href="https://github.com/ortwic/OCSoft.PdfAnalyser" target="_blank">GitHub</a>.
            </p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5 order-md-2">
            <img src="assets/images/menschlink.png" alt="MenschLink" title="MenschLink">
            </div>
            <div class="col-md-7 order-md-1">
            <span class="section-subtitle">2022 - Visionary next-level platform for jobs</span>
            <h3 class="section-title">MenschLink</h3>
            <p>
                Collaboration with FTT on their projects like <a href="https://forensicdiscovery.de/mensch-link-unternehmerland/" target="_blank">MenschLink.</a>
                The vision of MenschLink is to provide a career platform where you can find your best fitting profession
                that will fulfill your personal destination. This process will be supported by artificial intelligence.
            </p>
            <p>
                Main activities were consultancy for clean code and quality assurance.
            </p>
            <br>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5 order-md-1">
            <img src="assets/images/betterargs-coach.png" alt="Better Args App - Coach" title="Better Args App - Coach">
            </div>
            <div class="col-md-7 order-md-2">
            <span class="section-subtitle">2023 - Your personal communication assistant.</span>
            <h3 class="section-title"><a href="https://betterargsapp.web.app/" target="_blank">Better Args App</a></h3>
            <p>
                Developing of a prototype app for conflict management. The idea is to improve your debating skills 
                for a better family life 🧬 with less ⚡ conflicts. It provides excercises and an AI driven dialog that gives you an 👂.
                Development currently freezed due to data privacy concerns for end users. 
            </p>
            <p>
                You can check out the sources on <a href="https://github.com/ortwic/better-args-app" target="_blank">GitHub</a>.
            </p>
            <p class="section-subtitle">
                <small><i>PS: <a href="https://mother-earth.ai/" target="_blank">mother-earth.ai</a> is an inspiring project too.</i></small>
            </p>
            <br>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5 order-md-2">
            <img src="https://github.com/ortwic/song-repo/blob/develop/public/images/songlist.png?raw=true" alt="Song Repo" title="Song Repo">
            </div>
            <div class="col-md-7 order-md-1">
            <span class="section-subtitle">2023 - Your tool to keep an overview of your song repertoire</span>
            <h3 class="section-title"><a href="https://song-repo.web.app" target="_blank">My Song Repertoire (Song Repo)</a></h3>
            <p>
                An app for musicians to keep an overview of their personal song repertoire. It also features an integrated blog with 
                useful articels and event calendar with synced open piano events.
            </p>
            <p>
                You can check out the sources on <a href="https://github.com/ortwic/song-repo/" target="_blank">GitHub</a>.
            </p>
            <br>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5 order-md-1">
            <img src="assets/images/why-app.png" alt="Why App" title="Why App">
            </div>
            <div class="col-md-7 order-md-2">
            <span class="section-subtitle">2024 - A philosophical tool for your existential journey.</span>
            <h3 class="section-title"><a href="https://why-app.web.app" target="_blank">Why App</a></h3>
            <p>
                An app for anyone looking for the meaning of life. In addition to an interactive course with 
                reflective content, a blog also addresses philosophical and sociological topics. The technical 
                basis is Angular (PWA), Material, Firebase and FireCMS for now.
            </p>
            <p>
                You can check out the sources on <a href="https://github.com/ortwic/why-app" target="_blank">GitHub</a>.
            </p>
            <br>
            </div>
        </div>
    </div>
</section>