<section class="skills" id="skills">
    <span class="section-subtitle">Why Choose Me</span>
    <h2 class="section-title">My expertise Area</h2>

    <div class="two-columns bd-grid">
        <div class="skills__content">
            <h3 class="skills__subtitle">Technologies</h3>

            <div class="skills__data">
                <span class="skills__bar" style="width:95%">C#, Linq, ASP.NET, Visual Studio</span>
            </div>

            <div class="skills__data">
                <span class="skills__bar" style="width:90%">Bug tracing, Fiddler, Postman</span>
            </div>

            <div class="skills__data">
                <span class="skills__bar" style="width:90%">HTML 5, Vanilla JS</span>
            </div>

            <div class="skills__data">
                <span class="skills__bar" style="width:80%">RegExp</span>
            </div>

            <div class="skills__data">
                <span class="skills__bar" style="width:65%">Angular, Typescript, VS Code</span>
            </div>

            <div class="skills__data">
                <span class="skills__bar" style="width:60%">Selenium / Appium</span>
            </div>

            <div class="skills__data">
                <span class="skills__bar" style="width:45%">SQL, SSMS</span>
            </div>

            <div class="skills__data">
                <span class="skills__bar" style="width:30%">DevExpress</span>
            </div>
        </div>
    
        <div class="skills__content">
            <h3 class="skills__subtitle">Soft skills</h3> 
            Analytical thinking; loyality, surgency, good at team-working, Always trying to find the balance between perfectionismn and pragmatism
            <p>
            <br>
            </p>

            <h3 class="skills__subtitle">Other interests</h3>
            <a href="http://ortwin.bplaced.net/category/philo/" target="_blank">Philosophy, </a> 
            <a href="http://ortwin.bplaced.net/category/music/" target="_blank">music theory, </a> 
            <a href="https://www.youtube.com/c/OrtwinC" target="_blank">playing (public) pianos, </a> 
            video cutting, (instructing) artistic rollerblading aka “Freestyle Slalom”                    
        </div>
    </div>
</section>