<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio | Ortwin Carstocea</title>
    <meta name="author" content="Fullstack web developer">
    <meta name="description" content="">
    <meta name="keywords" content="fullstack developer, c#, linq, angular, ts, js, clean code, refactoring, uncle bob, ttd, machine learning, business analyst">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="assets/images/oc-fav.png"/>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'>
    <script src="assets/js/jquery-3.5.1.slim.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</head>
<body>
  {% include nav.html %}
  <main>
      {{ content }}
  </main>
  {% include footer.html %}
</body>
</html>